<div class="ui segment create-task__container">
        <form class="ui form">
            <div class="field">
                <label >Title</label>
                <input type="text" ng-model="ctrl.task.title">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea ng-model="ctrl.task.description"></textarea>
            </div>
            <div class="field">
                <label>Date</label>
                <input type="date" ng-model="ctrl.task.date">
            </div>
            <div class="field">
                <label>Contacts</label>
                <input type="text" ng-model="ctrl.task.contacts">
            </div>
            <button class="ui button" ng-click="ctrl.saveChanges()">Сохранить</button>
        </form>
    </div>
</div>