<div class="ui cards">
    <div class="card" ng-repeat="task in ctrl.tasks">
      <div class="content">
        <div class="header">
            {{task.id}} - {{task.title}}
        </div>
        <div class="meta">
            Date: {{task.date}} </br>
            Contacts: {{task.contacts}}
        </div>
        <div class="description">
            Description: {{task.description}}
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button" ui-sref="task({taskId: task.id})">Update</div>
          <div class="ui basic red button" ng-click="ctrl.removeTask(task.id)">Delete</div>
        </div>
      </div>
    </div>
</div>