.wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.main-header {
    display: flex;
    align-items: center;
    height: 50px;
    background: #676767;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,.3);
}

.main-content {
    flex-grow: 1;
}

.main-view {
    overflow: auto;
}

.navbar-btn {
    background: none;
    outline: none;
    border: none;
    margin-left: 8px;
    color: white;
}